/**
 * CleanRoundUI
 * @author AcheronX
 * @description Clean Round UI to fit theme
 * @version 0.0.1
 * @source https://github.com/acheronx0577/CleanRoundUI/edit/main/CleanRoundUI.css
 * @website https://github.com/acheronx0577
 */

 /* 🎨 Rounded edges & clip overflow */
.container__7d20c {
  border-radius: 10px;
  overflow: hidden;
}

/* 🎨 Slightly rounded & clip overflow for Active Now DM container */
.container__9293f {
  border-radius: 12px;
  overflow: hidden;
}

/* 🚫 Remove background, hide overlay */
div.children__9293f.showToolbar__9293f::after {
  background-color: transparent !important;
  opacity: 0 !important;
  content: none !important;
}

/* Menu container styling 🖍️ */  
div[class*="menu_"][role="menu"] {  
    border: 1px solid var(--background-modifier-accent);  
    border-radius: 8px;  
    overflow: hidden;  
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);  
}  
